/* Flexible box layout classes */
.flex-container,
.flex-container.block > .contextual-links-region,
.flex-container-views,
.flex-container-vbo > .view-content,
.flex-container-vbo > .view-content > .vbo-views-form,
.flex-container-vbo > .view-content > .vbo-views-form > form,
.flex-container-vbo > .view-content > .vbo-views-form > form > div {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-orient: vertical;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: vertical;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: column;     /* MID: IE 10 */
  -webkit-flex-direction: column; /* NEW, Chrome 21+ */
  flex-direction: column;         /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  margin: 0;
}

.flex-row,
.flex-row.block > .contextual-links-region {
  -webkit-box-orient: horizontal;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: horizontal;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: row;     /* MID: IE 10 */
  -webkit-flex-direction: row; /* NEW, Chrome 21+ */
  flex-direction: row;         /* NEW: Opera 12.1, Firefox 22+ */
}

.flex-container > .flex-fill,
.flex-container.block > .contextual-links-region,
.flex-container.block > .contextual-links-region > .flex-fill,
.flex-container-views > .view-content,
.flex-container-vbo > .view-content > .vbo-views-form,
.flex-container-vbo > .view-content > .vbo-views-form > form,
.flex-container-vbo > .view-content > .vbo-views-form > form > div,
.flex-container-vbo > .view-content > .vbo-views-form > form > div > .view-content-list {
  -webkit-box-flex: 1;  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-flex: 1;     /* OLD: Firefox (buggy) */
  -ms-flex: 1;          /* MID: IE 10 */
  -webkit-flex: 1;      /* NEW, Chrome 21+ */
  flex: 1;              /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  overflow-y: auto;
}

.flex-container.block.flex-row > .flex-fill,
.flex-container.block.flex-row > .contextual-links-region,
.flex-container.block.flex-row > .contextual-links-region > .flex-fill {
  overflow-y: visible;
  overflow-x: auto;
}
